<%- locals.flash %>

    <main>
        <div id="general">
            <%- include('elements/sort') %>
                <div id="customer_list">
                    <div id="list_header">
                        <div class="no">#</div>
                        <div class="mark"><i class="fa fa-star" aria-hidden="true"></i></div>
                        <div class="status">status</div>
                        <div class="info">info</div>
                        <div class="track">track</div>
                        <div class="note">note</div>
                        <div class="time">time</div>
                        <div class="saler">saler</div>
                    </div>
                    <div class="customer" data-id="">
                        <div class="no">1</div>
                        <div class="mark"><i class="fa fa-star" aria-hidden="true"></i></div>

                        <select name="status_sort" class="status_sort">
                    <option value="thuebao">Thuê bao</option>
                    <option value="khongnghe">Không nghe</option>
                    <option value="mayban">Máy bận</option>
                    <option value="addzalo">Add zalo</option>
                    <option value="tiemnang">Tiềm năng</option>
                </select>

                        <div class="info">
                            <div class="phone">0945078855</div>
                            <div class="name">Đinh Tạ Tuấn Linh</div>
                            <div class="email">dinhtatuanlinh@gmail.com</div>
                        </div>
                        <div class="track">
                            <div class="tag">abc</div>
                            <div class="url">jemmia.vn</div>
                            <div class="location">Ninh Bình</div>
                        </div>

                        <div class="note">orem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type
                            specimen book.
                        </div>
                        <div class="time">dd/mm/yy</div>
                        <div class="saler">Linh</div>
                    </div>
                </div>
        </div>
        <%- include('elements/detail') %>
    </main>