<div id="detail">
    <div class="info">
        <div class="name">Đinh Tạ Tuấn Linh</div>
        <div class="email">dinhtatuanlinh@gmail.com</div>
        <div class="phone">0945078855</div>
    </div>
    <div class="track">
        <div class="tag">Tag: <span>abc</span></div>
        <div class="url">Url: <span>jemmia.vn</span></div>
        <div class="location">Location: <span>Ninh Bình</span></div>
    </div>
    <div class="other">
        <div class="time">Date: <span>dd/mm/yy</span></div>
        <select name="status_sort" class="status_sort">
            <option value="thuebao">Thuê bao</option>
            <option value="khongnghe">Không nghe</option>
            <option value="mayban">Máy bận</option>
            <option value="addzalo">Add zalo</option>
            <option value="tiemnang">Tiềm năng</option>
        </select>
        <div class="saler">Sale: <span>Linh</span></div>
    </div>

    <div class="note"><textarea name="" id="" cols="30" rows="10"></textarea></div>
    <button>Save</button>
</div>