<div id="sort_icon" data-openclose="0" onclick="sort_open_close(this);">
    <i class="fa fa-filter" aria-hidden="true"></i>
</div>
<div id="sort">
    <div id="calendar_sort"></div>
    <div id="bookmark_sort">Bookmark</div>
    <select name="status_sort" id="status_sort">
        <option value="thuebao">Thuê bao</option>
        <option value="khongnghe">Không nghe</option>
        <option value="mayban">Máy bận</option>
        <option value="addzalo">Add zalo</option>
        <option value="tiemnang">Tiềm năng</option>
    </select>
    <div id="tag_sort">Tag</div>
    <div id="location_sort">Location</div>
    <select id="saler_sort" name="saler">
        <option value="volvo">Volvo</option>
            <option value="saab">Saab</option>
            <option value="opel">Opel</option>
            <option value="audi">Audi</option>
    </select>
    <input type="text" id="url_search" placeholder="search url ...">
    <input type="text" id="search" placeholder="search ...">
</div>